<app>
  <site-header/>
  <main-content/>
  <site-footer/>
  <modal-window ref="modal"/>

  <script type="es6">
    this.on('mount', () => {
      if (window.location.hash === '#coc') {
        app.modal('section-coc')
      }
    })
  </script>
</app>
