<section-registration>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Conference Registration</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <iframe src="{url}" frameborder="0" height="820" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>

  <script type="es6">
    this.on('mount', () => {
      this.url = 'https://eventbrite.com/tickets-external?eid=43488595560&ref=etckt'
      let query = app.route.query()
      if (query.discount) {
        this.url += '&discount=' + query.discount
      }

      this.update()
    })

  </script>
</section-registration>
